@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

img {
    border: 0;
    vertical-align: middle;
}

html {
    font-size: 16px;
}

body {
    font-family: 'noto sans kr';
}

.nav {
    position: relative;
    display: block;

    >li {
        position: relative;
        display: block;

        background: {
            color: red;
            image: url('../a.jpg');
            position: center;
            repeat: no-repeat;
        }

        >a {
            position: relative;
            display: block;
            background: pink;

            &:hover {
                background: green;
            }

            @at-root .box {
                background: green;

                &-active {
                    background: green;
                }
            }
        }
    }
}